.navigation-started > rect {
    fill: #9d9d54 !important;
    stroke: black !important;
}

.navigation-resumed > rect {
    fill: seagreen !important;
    stroke: black !important;
}

.navigation-created > rect {
    fill: indianred !important;
    stroke: black !important;
}

.navigation-new > rect {
    fill: darkgray !important;
    stroke: black !important;
}
