.navigation-part > rect {
    stroke: black !important;
}

.navigation-paused > rect {
    fill: #b2b200 !important;
    color: white !important;
}

.navigation-resumed > rect {
    fill: seagreen !important;
    color: white !important;
}
